html, body {
    height: 100%;
}


svg.x {
    fill: #4CAF50;
    width: 100%;
    height: 100%;
}

i.x {
    color: #4CAF50;
}

svg.o {
    fill: #F44336;
    width: 100%;
    height: 100%;
}

i.o {
    color: #F44336;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn 0.5s linear 1;
       -moz-animation: fadeIn 0.5s linear 1;
            animation: fadeIn 0.5s linear 1;

     /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}


@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    opacity: 0;
    -webkit-animation: fadeOut 0.5s linear 1;
       -moz-animation: fadeOut 0.5s linear 1;
            animation: fadeOut 0.5s linear 1;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {

    -webkit-animation: blink 1s step-start 0s 3;
       -moz-animation: blink 1s step-start 0s 3;
            animation: blink 1s step-start 0s 3;

    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 0)*/
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.fade-in.blink {
    opacity: 1;
}

.row {
    display: table;
    content: " ";
    margin: auto;
}

.row .field {
    border-left: 7px solid #393939;
    border-top: none;
    border-bottom: 7px solid #393939;
    border-right: none;
}

.row .field:first-child {
    border-left: none;
}

.row .field:empty {
    cursor: pointer;
}

.content-block .row:last-child .field {
    border-bottom: none;
}

.field {
    width: calc(33vw - 30px);
    height: calc(33vw - 30px);
    border: 1px solid #DDD;
    float: left;
    max-width: 150px;
    max-height: 150px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.popover {
    width: 200px;
}

.bg-darkgrey {
    background-color: #393939;
}

.score-board {
    background-color: #393939;
}

.score-board .item-inner:after{
    background-color: #212121;
}

.list-block ul.score-board:before {
    height: 0;
}

.list-block ul.score-board:after {
    height: 0;
}

.result-message {
    text-align: center;
}

.result-message button {
    width: 100%;
}

.text-icon {
    bottom: -7px;
    position: relative;
    margin-top: -8px;
}

ul.rules li {
    margin-bottom: 3px;
}

.result-content {
    /*width: 100%;
    max-width: 464px;
    margin: auto;*/
}